<h3 class="title is-3 my-3"> Bem-vindo ao Rails Blog! </h3>
<p>Desenvolvido para praticar Ruby on Rails</p>
<%= link_to "Ver posts", posts_path, class: "button mt-3 is-danger"%>

<!--
<hr>

<ul class="mb-4">
    <% @posts.each do |post| %>
        <li class="notification p-4 my-4">
            <%= post[:title] %> - <%= post[:body] %>
        </li>
    <% end %>
</ul>

<h4>Admin: <%= @author %></h4>
-->