<div class="navbar-dropdown is-right">

    <% if current_user %>

        <%= link_to "Novo Post", new_post_path, class:"navbar-item" %>
        <hr class="navbar-divider">
        <%= link_to "Sair", destroy_user_session_path, data:{turbo_method: :delete}, class: "navbar-item" %>

    <% else %>

        <%= link_to "Cadastro", new_user_registration_path, class: "navbar-item" %>
        <%= link_to "Login", new_user_session_path, class: "navbar-item" %>
        
    <% end %>

</div>
