<nav class="navbar p-2" role="navigation" aria-label="main navigation">

    <div class="navbar-brand">
        <%= link_to "Rails Blog", root_path, class: "navbar-item title has-text-danger" %>
    </div>

    <div class="navbar-start navbar-menu mx-3">
        <%= link_to "Home", root_path, class: "navbar-item" %>
        <%= link_to "Posts", posts_path, class: "navbar-item" %>
    </div>

    <div class="navbar-menu navbar-end mx-3">
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
                Usuário
            </a>

            <%= render "user/session" %>
        </div>
    </div>
</nav>

<hr class="mt-0">